.main-info {
	padding-top: 90px;
	padding-bottom: 55px;

	background-color: #000008;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-attachment: fixed;
	background-image: url("../img/bg__header.webp");
	background-image: url("../img/bg__header.jpg");	
	@media (max-width: 750px) {
		padding-top: 170px;
	}
	&__logo-link {
		display: block;
		max-width: 352px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 32px;
	
		cursor: default;
	}
	&__header {
		max-width: 550px;
		margin-top: 0;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 205px;

		text-align: center;
		font-size: 19px;
		text-transform: uppercase;
		font-weight: normal;
		color: @font-white;
		letter-spacing: 3.6px;
	}
	&__address-wrap {
		display: flex;
		justify-content: space-around;
		margin-bottom: 200px;
		@media (max-width: 750px) {
			flex-wrap: wrap;
		}
	}
	&__address-text {
		color: @font-red;
		font-weight: bold;
		font-size: 33px;
		text-align: center;
		font-family: @font-georgia;
		.text-shadow-hover(0.2s);
	}
	&__address-link {
		font-size: 21px;
		text-decoration: none;
		color: @font-braun;
		display: inline-block;
		width: 100%;
		.grow-hover(0.2s, 1.1);
	}
	&__social-links-wrap {
		display: flex;
		justify-content: center;
	}
	&__social-link {
		position: relative;
		width: 40px;
		height: 40px;
		margin: 0 7px;
		border-radius: 50%;

		background-color: #fff;
		
		color: #000;
		text-decoration: none;
		text-align: center;
		vertical-align: middle;
		font-family: @font-icon;
		font-size: 20px;
		line-height: 40px;
		.grow-shadow(0.2s);
	}
}
.offer {
	padding-top: 95px;
	padding-bottom: 220px;

	background-image: url("../img/bg__noise.jpg");
	&__header {
		position: relative;

		margin-bottom: 90px;

		color: #fff;
		text-align: center;
		&::after {
			content: "";

			position: absolute;
			bottom: -32px;
			left: 50%;
			transform: translateX(-50%);

			display: inline-block;
			width: 40px;
			height: 3px;

			background-color: #fff;
		}
	}
	&__items-container {
		display: flex;
		justify-content: center;
		@media (max-width: 750px) {
			flex-wrap: wrap;
		}
	}
	&__item {
		flex-basis: 20%;
		margin: 0 2% 80px;

		color: #fff;
		text-align: center;

		.grow-hover(0.4s, 1.1);
		@media (max-width: 750px) {
			flex-basis: 100%;
			.grow-hover(0.4s, 1.05);
		}
	}
	&__item-icon {
		width: 125px; 
		height: 125px;
		stroke-width: 0px;
		fill: #fff;
	}
	&__item-description {
		line-height: 24px;
	}
}

.portfolio {
	padding-top: 50px;
	padding-bottom: 50px;

	text-align: center;
	&__header {
		position: relative;

		margin-bottom: 50px;
		text-align: center;

		color: rgb(47, 46, 46);
		&::after {
			content: "";

			position: absolute;
			bottom: -32px;
			left: 50%;
			transform: translateX(-50%);

			display: inline-block;
			width: 40px;
			height: 3px;

			background-color: rgb(47, 46, 46);
		}
	}
	&__description {
		display: inline-block;
		margin-bottom: 50px;
	}
	&__gallery-wrap {
		margin: 0 3%;
		display: flex;
		@media (max-width: 750px) {
			margin: 0;
			flex-basis: 100%;
		}		
	}
	&__gallery-content {
		flex-basis: 100%;
		display: flex;
		flex-wrap: wrap;
		margin-left: auto;
		margin-right: auto;
		justify-content: center;
		box-shadow: 0 3px 15px rgba(0, 0, 0, .25);
	}
	&__gallery-link {
		flex-basis: calc(100% / 3);
		display: inline-block;
		width: calc(100% / 3);
		padding: 0;
		margin: 0;

		color: transparent;
		@media (min-width: 441px) and (max-width: 750px){
			flex-basis: 50%;
		}
		@media (max-width: 440px) {
			flex-basis: 100%;
		}
	}
	&__gallery-item {
		display: block;
		max-width: 100%;
		padding: 0;
		margin: 0;
		.inset-shadow-hover(0.2s);
		@media (max-width: 750px) {
			&:hover,
			&:focus,
			&:active {
			    box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.7);
			    transform: scale(1.05);

			}
		}
	}
}
.about-us {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 90px;

	background-image: url("../img/bg__service.jpg");

	text-align: center;
	&__container {
		flex-basis: 50%;
		padding: 30px 100px 20px;
		margin-bottom: 90px;
		border-radius: 3px;

		background-color: #fff;
		@media (max-width: 750px) {
			padding: 30px 10px 20px;
			flex-basis: 100%;
		}
	}
	&__header {
		position: relative;

		margin-bottom: 50px;
		text-align: center;

		color: rgb(47, 46, 46);
		&::after {
			content: "";

			position: absolute;
			bottom: -32px;
			left: 50%;
			transform: translateX(-50%);

			display: inline-block;
			width: 40px;
			height: 3px;

			background-color: rgb(47, 46, 46);
		}
	}
	&__description {
		line-height: 24px;
	}
}
.paralax-background {
	width: 110%;
	height: 510px;
	background-color: #d8dcdf;
	background: url('../img/mam-with-auto.jpg') no-repeat 50% 50%;	
}
.contact {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 70px;
	padding-bottom: 50px;

	background-image: url("../img/bg__service.jpg");
	&__picture-car-wrap {
		flex-basis: 100%;
		// width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 25px;
	}
	&__picture-car {
		display: block;
		height: auto;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 25px;
	}
	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		flex-basis: 50%;
		width: 50%;
		padding: 30px 50px 30px;
		border-radius: 3px;

		background-color: #fff;
		@media (min-width: 751px) and (max-width: 1000px) {
			padding: 30px 10px 20px;
			flex-basis: 90%;
		}
		@media (min-width: 501px) and (max-width: 750px) {
			padding: 30px 5px 20px;
			flex-basis: 95%;
		}
		@media (max-width: 500px) {
			padding: 30px 5px 20px;
			flex-basis: 100%;
		}
	}
	&__header {
		position: relative;
		flex-basis: 100%;

		margin-bottom: 70px;
		text-align: center;

		color: rgb(47, 46, 46);
		&::after {
			content: "";

			position: absolute;
			bottom: -32px;
			left: 50%;
			transform: translateX(-50%);

			display: inline-block;
			width: 40px;
			height: 3px;

			background-color: rgb(47, 46, 46);
		}
	}
	&__addresses {
		flex-basis: 50%;
		@media (max-width: 600px) {
			padding-left: 20px;
			flex-basis: 100%;
		}
	}
	&__adress {
		margin-top: 0;
		color: rgb(47, 46, 46);	
	}
	&__form {
		flex-basis: 50%;
		@media (max-width: 600px) {
			flex-basis: 100%;
		}
	}
	&__input {
		width: 100%;
		padding: 5px;
		border: 1px solid rgba(33, 33, 33, 1);
		margin-bottom: 15px;
		border-radius: 2px;
		box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
		&:hover {
			outline: none;
			box-shadow: 0 3px 12px rgba(5, 3, 3, 0.35);
		}
		&:focus {
			outline: none;
			box-shadow: 0 3px 12px rgba(0, 140, 186, 0.5);
		}
		&--textarea {
		    resize: none;
		    height: 130px;
		}
		&--submit {
			background-color: #000;

			color: #fff;
			text-transform: uppercase;
		}
	}
}

.gallery {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1020;

	display: none;

	background-color: rgba(0, 0, 0, .85);

	&__close {
		position: absolute;
		top: 10%;
		right: 5%;
		
	    padding: 0 5px;

		font-size: 25px;
		font-family: @font-icon;
		color: #fff;	

		cursor: pointer;
	}

	&__toggle {
		position: absolute;

	    padding: 5px;

		font-family: @font-icon;
		color: #fff;
		font-size: 37px;

		cursor: pointer;
		&--prev {
			top: 55%;
			left: 10%;
		}
		&--next {
			top: 55%;
			right: 10%;
		}
	}
	&__img {
	    position: absolute;
	    top: 45%;
	    left: 50%;

		max-height: 70vh;
		max-width: 70vw;

	    transform: translate(-50%, -50%);

		box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.7);
	    &:hover,
		&:focus,
		&:active {
		    transform: translate(-50%, -50%);

		}
	}
	&__sign {
		position: absolute;
		bottom: 5%;
		left: 0;
		right: 0;

		text-align: center;
		font-weight: bold;
		color: #fff;
		font-size: 20px;
	}
}